@import url("https://fonts.googleapis.com/css2?family=Federo&family=Major+Mono+Display&family=Pompiere&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #0a0a0a;
  --foreground: #d6d5d5;
  --gold-gradient: linear-gradient(
    20deg,
    #996600,
    #ffaa2b,
    #f3d392,
    #ffaa2b,
    #996600
  );
  --d: 2500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
}

body {
  color: var(--foreground);
  background: var(--background);
  background: -moz-linear-gradient(top, var(--background) 0%, #2b1f35 100%);
  background: -webkit-linear-gradient(top, var(--background) 0%, #2b1f35 100%);
  background: linear-gradient(to bottom, var(--background) 0%, #2b1f35 100%);
  margin: 0;
  padding: 0;
  font-family: "Federo", Helvetica, sans-serif;
}


nav {
  font-family: "Federo", Arial;
}

h1 {
  font-family: "Federo", Arial;
  font-weight: 600;
  font-style: bold;
}

.text-gradient {
  color: #170d20;
  background: var(--gold-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 0.02em transparent;
}

@keyframes text-highlight {
  to {
    background-position: -200%;
  }
}
.nav-link--icon {
  position: relative;
  padding: 0 2.91667em 0 0;
}

.nav-link {
  text-decoration: none;
}

.nav-link:hover {
  background: linear-gradient(
    75deg,
    #e0e0e0 0,
    #e6e6e6 10% 0,
    #e9e9e9 15% 0,
    #eeeeee 45% 0,
    #ffd4b1 50% 0,
    #ffc982 55% 0,
    #ffd092 60% 0,
    #eeeeee 65% 0,
    #e9e9e9 90% 0,
    #e6e6e6 0
  );
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  animation: text-highlight 1.6s ease-in-out infinite;
  -webkit-text-fill-color: transparent;
}

.thumbnail {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border: 2px transparent;
}

.thumbnail:hover::before {
  animation: glossy-wipe 3.5s ease-in-out infinite;
  animation-delay: 0s, 2s;
  content: "";
  position: absolute;
  inset: 0;
  padding: 0;
  background: none;
  mask: linear-gradient(rgba(255, 255, 255, 1)) content-box,
  linear-gradient(rgba(243, 240, 233, 1));
  -webkit-mask: linear-gradient(rgb(255, 255, 255) 0 0) content-box,
  linear-gradient(rgba(255, 255, 255, 1) 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  border: 2px solid transparent;
  background: linear-gradient(
    to top left,
    rgba(180, 132, 0, 0.2) 0%,
    rgba(255, 231, 178, 0.8) 45%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 231, 178, 0.8) 45%,
    rgba(180, 132, 0, 0.2) 100%
  );

  background-size: 200% 200%;
  background-repeat: no-repeat;
  z-index: 1;
  pointer-events: none;
}

@keyframes glossy-wipe {
  0% {
    background-position: -100% -100%;
  }
  100% {
    background-position: 300% 300%;
  }
}

.search-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  align-content: center;
}

.input {
  padding: 10px;
  width: 50px;
  height: 50px;
  background: none;
  border-radius: 10rem;
  box-sizing: border-box;
  font-size: 1.6rem;
  color: #f3d392;
  outline: none;
  transition: .5s;
}

.search-container:hover input{
  width: 350px;
  background: transparent;
  border-radius: .2rem;
}

.search-container .icon {
  position: absolute;
  top:103.25%;
  font-size: 1.5rem;
  transition: .45s;
}

.search-container:hover .icon{
  opacity: 0;
  z-index: -1;
  transform: translate(450%, 0%);
}

.tag-btn {
  border: 2px solid var(--foreground);
  background-color: transparent;
  color: var(--foreground);
  padding: .25rem .5rem;
  margin: .25rem;
  border-radius: .2rem;
  cursor: pointer;
}

.include {
  border: 2px solid rgb(252,211,77);
  color: #ffffff;
}

.exclude {
  border: 2px solid rgb(125, 102, 148);
  color: rgb(125, 102, 148);
  text-decoration: line-through;
}